$primary_color:#29265f;
$secondary_color:#70a3d7;
$tertiary_color:#dddddd;
$quaternary_color:#000000;
$warning_color:#3170b0;
$error_color:#af252b;
$success_color:#33a457;
$info_color:#70a3d7;
$white_color:#ffffff;
$bc_color_1:#69161A;
$bc_color_2:#2C2B2B;
$bc_color_3:#2A265E;
$bc_color_4:#ebebeb;
$bc_color_5:#666666;



		