// Nav bar color scheme according to theme customizer
.bc_nav_container{
	background-color: $primary_color !important;
	@media only screen and (max-width: 768px) {
		position: absolute !important;
		top: 0 !important;
		z-index: 10 !important;
		background-color: #fff !important;
	}
	#navbarSupportedContent{
		@media (hover: none), only screen and (max-width: 991px) {
			height: 100vh;
		    max-height: 100vh;
		    overflow-x: hidden;
		}
	}

	a:hover { 
		@media (hover: none), only screen and (max-width: 991px) {
			background-color: #ffffff00 !important; // Mobile nav bar Background
		}
	}
	 
	background-color: $primary_color; // Nav bar Background
	@media (hover: none), only screen and (max-width: 991px) {
		background-color: $primary_color !important; // Mobile nav bar Background
	}
	.navbar-nav{
		& > li {
			& > a{
				svg {
					display: none !important;
				}
			}
			&:hover{
				& > a.nav-link {
					color: $secondary_color !important;
					@media (hover: none), only screen and (max-width: 740px){
						color: $error_color !important;
					}
					svg {
						color: $error_color !important;
					}
				} // Top level link hover	
			}

		}

		li {
			position: relative;
			a {
				color: $secondary_color !important; //Top level link
				font-family: $alternate_font_family_1;
				background-color: #ffffff00 !important;
				line-height: 30px !important;
				svg {
					/*display: none !important;*/
					@media (hover: none),only screen and (max-width: 740px) {
						display: block !important;
					}
				} // Top level dropdown icon
				@media (hover: none),only screen and (max-width: 991px) {
					color: $white_color !important;
					font-family: $alternate_font_family_1 !important;
					letter-spacing: 0;
					font-weight: 400 !important;
					line-height: 55px !important;
					svg { display: inline-block !important; } // Top level dropdown icon
				}
			}
				/*&::after {
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    height: 1px;
				    width: 100%;
				    content: " ";
				    background: #b5b5b5 !important;
				} */
			&:hover{
				background-color: #ffffff00 !important;	// Top level dropdown background hover
				@media (hover: none), only screen and (max-width: 991px) {
					background-color: #ffffff00 !important; // Mobile nav bar Background
					border-bottom: 1px solid #b5b5b5 !important;
				}		
				svg { color: $primary_color; } //Top level dropdown icon hover
				a.nav-link {
					/*color: $secondary_color !important;*/
					@media (hover: none), only screen and (max-width: 740px){
						/*color: $error_color !important;*/
					}
				} // Top level link hover	
				&::after {
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    width: 100%;
				    content: " ";
				    border-bottom: 4px solid $secondary_color;
				    @media only screen and (max-width: 760px) {display: none !important;}
				}
			}
			
		}
		.dropdown-menu{ 
			/*background-color: #E0E0E0 !important; // Dropdown background*/
			/*@media (hover: none), only screen and (max-width: 991px) {
				 background-color: #ffffff00 !important; 
			} */
		} 
	}

	.dropdown {
		li, .dropdown-item {
			&::after {
			    display: none;
			} 
			a{	
				color: $primary_color !important; // Dropdown link
				svg { // Dropdown icon 
					color: $primary_color; 
					@media (hover: none), only screen and (max-width: 991px) {
						color: $info_color;
					}
				} 
				&:hover{
					span{
						color: #AF252B !important;
					}
					svg{
	    				color: $error_color !important;
	    			}
				}
			}
			&:focus{
				background-color:$primary_color;
				@media (hover: none), only screen and (max-width: 991px) {
					// background-color: #ffffff00 !important;
				}
			}

			&:hover{
				background-color: $tertiary_color; 	//Dropdown background hover	
				@media (hover: none), only screen and (max-width: 991px) {
					background-color: #ffffff00 !important; // Mobile nav bar Background
				}
				svg { color: $secondary_color; } // Dropdown icon hover
				a { // Dropdown icon hover
					color: $secondary_color;
				} 
			}
		}
	}
}

.navbar-toggler-icon{ color: $tertiary_color; } // Toggle icon color

//Menu dropdown modifications

.dropdown-menu{
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
    margin-top: 0px;
    border: 0px;
	.dropdown-toggle {
		svg{
			transform: rotate(-90deg);
			right: 15px;
			position: absolute;
			top: 18px;
			@media (hover: none), only screen and (max-width: 740px) {
				transform: rotate(0deg);
			}
		}
	}
}

.navbar {
	padding: 0rem 1rem;
}
.navbar-nav{
	li{
		padding-top: .2rem;
		padding-bottom: .2rem;	
	}
	& > li {
		padding-left: 10px;
		padding-right: 10px;	
	}
}
.dropdown {
	li {
		padding-left: 20px !important;
		padding-right: 20px !important;
		.dropdown-toggle.nav-link{
	    	padding-top: 10px;
			padding-bottom: 10px;
	    }
		/*padding: 0rem 0rem;	
		@media (hover: none), only screen and (max-width: 991px) {
			padding-left:30px !important;
		}
		a{*/
			a{
				border-bottom: 1px solid #EBEBEB !important;
				border-radius: 0 !important;
			}
		}
	}


	.dropdown-item {
		padding-top: 10px;
		padding-bottom:10px;
		@media (hover: none), only screen and (max-width: 740px){
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}


	ul ul {
		@media only screen and (min-width: 1024px) {
			margin-left: 100%;
			margin-top: -56px;
		}
		@media (hover: none){
			margin-left: 0px;
			margin-top: 0px;
		}	
		a {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
				
		}

	.dropdown-toggle{
		&::after {
		  	display:none;
		}
	}
}

//Overriding navbar-expand-lg behaviour for touch screen devices 
@media (hover: none) {
	.bc-nav-dropdown-icon{
		width: 45px;
		height: 30px;
	}
	
	nav.navbar-expand-lg{
		.m-lg-auto, &.m-lg-auto{
			margin: 0px 0px !important;
		}
		.float-lg-none{
			float: right !important;
		}
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between; 
		position: relative;
		display: flex;
		align-items: center;
		.navbar-nav{
			flex-direction: column;
		}
		.dropdown-menu {
			position: static !important;
		}
		#navbarSupportedContent.navbar-collapse{
			// .navbar-toggler{
			// 	display: block !important;
			// 	float: right;
			// }
			flex-basis: 100%;
			flex-grow: 1;
			display: block !important;
			&.collapse:not(.show) {
			    display: none !important;
			}
			& > ul {
				width: 100%
			}
		}
	}
}
svg.svg-inline--fa.fa-home-lg-alt.fa-w-18 {
    color: #ffffff !important;
    display: inline-block !important;
    font-size: 24px;
    line-height: 50px;
}
.mobile_logo{
	top: -33px;
    left: -10px;
}
li#menu-item-273 {
    @media (hover: none), only screen and (max-width: 760px) {
		display: none !important;
	}
	@media (hover: none), only screen and (max-width: 1024px) {
		display: none !important;
	}
}

.dropdown-toggle::after {
	display: none;
}

.navbar-dark .navbar-nav .dropdown-menu .nav-link {
	padding-left: 10px !important;
	color: $primary_color !important;
}
svg.svg-inline--fa.fa-chevron-down {
    color: $primary_color !important;
    @media (hover: none), only screen and (max-width: 760px) {
    	color: #ffffff !important;
    }
}
.dropdown-menu{
	li{
		.dropdown-menu{
			top: -6px !important;
		    left: 100% !important;
		    background: #d6d6d6 !important;
		    @media (hover: none), only screen and (max-width: 760px) {
		    	padding-left: 20px !important;
		    }
		}
	}
}